

.index-title{
  font-size: 18px;
  font-weight: bold;
  margin-left: 43px;
  color: cornflowerblue;

}

.index-user-image{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.hr{
  margin:0;
}

.board-margin{
  margin: 100px auto;
  background: white;
}

.index-name{
  color: darkgray;
  font-size: 14px;
}

.index-name a {
  color: darkgray;
}

.index-name a:hover{
  color: darkgray;
}

.index-title a:hover{
  text-decoration: none;
}

.tag{
  margin-left: 43px;
  margin-bottom: 10px;
}

.review{
  margin-top: 10px;
  margin-left: 43px;
  margin-bottom: 10px;
}

.tag-name{
  margin-left: auto;
  margin-right: 0;
}

.star-rating{
  position: relative;
  font-size: 25px;
}

.star-rating-front{
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  color: #fc3;
}

.star-rating-back{
  color: #ccc;
}

.front-flex{
  display: flex;
  margin-left: 42px;
  width: 400px;
}

.average-score-display{
  font-size:16px;
  padding-top: 9px;
  margin-left: 20px;
}

