main{
  background: #fbf9f3;
}

.show-user-image{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.show-board{
  width: 800px;
  margin: 100px auto;
  background: white;
  padding: 30px;
  border-radius: 20px;
}

.show-board-name{
  color: darkgray;
  font-size: 14px;
}

.show-board-name{
  color: darkgray;
  font-size: 14px;
}

.show-board-name a {
  color: darkgray;
}

.show-board-name a:hover{
  color: darkgray;
}

.show-board-child{
  margin-left: 43px;
}

.show-board-title{
  text-align: center;
  margin-top:30px;
}

.show-board-title h1 {
  font-weight: bold;
}

.show-board-image {
  text-align: center;
}

.show-board-title-image {
  width: 500px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 30px;
}

.material-quantity{
  text-align: center;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #a27652;

}

.material{
  margin-right: auto;
  margin-left: 0;
}

.quantity{
  margin-left: auto;
  margin-right: 0;
}

.board-boarder{
  width: 250px;
  margin-top: 0;
  margin-bottom: 0;
}

.board-show-background{
  margin: 0 auto;
  padding: 0.2em 0.5em;
}



.border-material h4 {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 10px;
  color: #401c00;
}

#board_board_details_attributes_0_image_detail{
  display: none;
}


.text-show{
  padding: 0.2em 0.5em;
  background: #fbf9f3;
  width: 320px;
  border-radius: 10px;
}


.user-show-flex{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.user-show-board{
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: 20px;
  border-radius: 10px;
}

.Heading{
  width: 570px;
  margin: 10px auto;
  color: #401c00;
  font-weight: bold;
}

.Heading p {
  margin-bottom: 0;
}

.review_container{
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #fbf9f3;
  border-radius: 15px;
}

// 星
.star-rating{
  position: relative;
  width: 160px;
}

.star-rating-front{
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  color: #fc3;
}

.star-rating-back{
  color: #ccc;
}

.front-flex{
  display: flex;
}



