.user-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.center{
  max-width: 900px;
  margin: 50px auto;
  background: whitesmoke;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.show-name{
  margin: 10px;
  font-size: 30px;
}

.show-profile{
  margin-top: 15px;
}

.profile span {
  color: rgba(104, 84, 72, 0.801);
  text-decoration: none;
}

.show-email,
.profile{
  color: rgba(104, 84, 72, 0.801);
}

.show-btn-edit{
  width: 230px;
  margin: 0 auto;
}

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  background: #627295;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #424b5f;
  border-radius: 3px;
  width: 100%;
}
.btn-square:hover{
  color: white;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.button {
  display       : inline-block;
  border-radius : 4%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 29px;   /* 余白       */
  background    : #ffffff;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 4px 4px 4px #666666;  /* 影の設定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
}

.child-show a:hover{
  text-decoration: none;
}

.show-user-image{
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}

.child-show{
  display: flex;
}

.day{
  text-align: left;
  margin-left: 5px;
}

.show-title{
  font-size: 20px;
  margin-left: 5px;
  margin-top: 10px;
  text-align: left;
}



// レビュー

.star-rating{
  position: relative;
  font-size: 15px;
}

.star-rating-front{
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  color: #fc3;
}

.star-rating-back{
  color: #ccc;
}



.average-score-display{
  font-size:16px;
  margin-left: 15px;
}



@media screen and (min-width: 600px) {/* 600px以上*/

  
  .margin{
    background: white;
  }



  .front-flex{
    display: flex;
    margin-left: 71px;
    display: flex;
}

.tag-board-show{
  text-align: left;
  margin-left: 75px;
}

.review{
  text-align: left;
  margin-left: 72px;
}


}

@media screen and (max-width: 600px) {/* 600px以下*/

  .margin{
    background: white;
  }

  .center{
    max-width: 350px;
    margin: 50px auto;
    background: whitesmoke;
    border-radius: 15px;
    padding: 20px;
  }

  .front-flex {
    width: 100%;
    text-align: left;
    display: flex;

}

.child-show{
  justify-content: center;
}

.tag-board-show,
.review {
  text-align: center;
}

.star-rating{
  max-width: 73px;
}


}

