<!DOCTYPE html>
<html lang="ja">  
  <head>
    <%= render 'layouts/meta'%>
  </head>

  <body>
    <%= render 'shared/header'%>
    <main role="main">
      <%= yield %>
    </main>
  </body>
</html>
